.card-1:hover{
    background-color: #8064A2;
    color: white;
}

.card-2:hover{
    background-color: #77933C;
    color: white;
}
.card-3:hover{
    background-color: #C0504D;
    color: white;
}
.card-4:hover{
    background-color: #0096C8;
    color: white;
}